@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply md:w-4/5 mx-auto px-5 lg:px-10;
  }
}

body {
  /* overflow-x: hidden; */
  background: rgb(249, 249, 249);
  font-family: 'Figtree', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-show::-webkit-scrollbar {
  position: relative;
  z-index: 10;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.clip {
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

/* SIDEBAR */
.sidebar {
  @apply relative py-3;
  &.active {
    @apply before:absolute before:z-20 before:-translate-x-5 before:bg-blue-2 before:w-1 before:h-full before:top-0 before:left-0;
  }
}
