@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(249, 249, 249);
  font-family: 'Figtree', sans-serif;
}
